<div class="container d-flex justify-content-around">
    <div class="card">
        <h2>Sign Up</h2>
        <div class="form-group">
            <label>UserName</label>
            <input type="text" placeholder="Enter your UserName">
        </div>
        <div class="form-group">
            <label for="formFile" class="form-label">Picture</label>
            <input class="form-control" type="file" id="formFile">
          </div>
        <div class="form-group">
            <label>Email</label>
            <input type="email" placeholder="Enter your email">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" placeholder="Enter your password">
        </div>
        <button class="main_banner">Sign Up</button>
    </div>
    <div class="card-info">
        <h1>Already a member ?</h1>
        <p>Connect and be updated with our latest products</p>
        <button class="banner" routerLink="/login">Sign In</button>
    </div>
</div>