<div class="container">
        <div class="d-flex">
            <!-- right area -->
            <div class="items">
                <div class="d-flex justify-content-between">
                    <h3>Shopping Cart</h3>
                    <p class="items-total">3 items</p>
                </div>
                <hr>
                <div class="d-flex justify-content-between align-items-center">
                    <img src="https://phabcart.imgix.net/cdn/scdn/images/uploads/ax-httpswebsystems.s3.amazonaws.comtmp_for_downloadsuper-ringspun-classic-burgundy.jpg?auto=compress&h=554" alt="">
                    <p class="product-name">test product</p>
                    <div class="quantity">
                        <svg id="plus" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                        </svg>
                        1
                        <svg id="minus" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                            <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                        </svg>
                    </div>
                    <p class="price">$45.99</p>
                    <svg id="delete" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                    </svg>
                </div>
                <hr>
                <div class="d-flex justify-content-between align-items-center">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRnZLWr9qn70BjRDc2ntqSJ1limo6s9VRNhg&usqp=CAU" alt="">
                    <p class="product-name">test product</p>
                    <div class="quantity">
                        <svg id="plus" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16"><style>#delete{fill:#ff0000}</style>
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                        </svg>
                        1
                        <svg id="minus" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                            <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                        </svg>
                    </div>
                    <p class="price">$24.20</p>
                    <svg id="delete" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                    </svg>
                </div>
                <hr>
                <div class="d-flex justify-content-between align-items-center">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPBk4oIzhxxS0kcfUBdI6e3m_FFfPmVWG6gVXGBNcovDRJ65QoqGztssVwDqcysnHCqcE&usqp=CAU" alt="">
                    <p class="product-name">test product</p>
                    <div class="quantity">
                        <svg id="plus" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                        </svg>
                        3
                        <svg id="minus" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                            <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                        </svg>
                    </div>
                    <p class="price">$65.70</p>
                    <svg id="delete" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                    </svg>
                </div>
                <hr>
            </div>
            <!-- left area Area -->
            <div class="summary">
                <br>
                <h5>Summary</h5>
                <hr>
                <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label">Coupon Code</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter code">
                </div>
                <hr>
                <div class="mb-3">
                    <p>Shipping method</p>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Default</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <hr>
                <span class="d-flex justify-content-between">
                    <p>Total Cost</p>
                    <p>$145</p>
                </span>
                <div class="d-grid gap-2">
                    <button class="btn w-100 btn-dark" type="button">CheckOut</button>
                </div>            
            </div>
        </div>
</div>