<!-- 
<div class="card container" style="width: 23rem;">
    <img class="card-img-top" src="https://www.samsungtunisie.tn/6075-home_default/samsung-galaxy-watch-4-44mm-prix-tunisie.jpg" alt="Card image cap">
    <br>
    <div class="card-body">
      <h3 class="card-title text-center">Card title</h3>
      <hr>
      <p class="text-center description-title">Description</p>
      <p class="card-text description">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <hr>
      <div class="d-flex justify-content-between">
          <p class="price mb-0">$76.99</p>
          <button>Add To Cart</button>
      </div>
    </div>
  </div> -->
  <h1>home component</h1>